/* body attributes */
body {
    background-repeat: no-repeat;
    height: 1000px;
    background-image:linear-gradient(white, blue);

}
/* h1 attributes*/
h1 {
    text-align: center;
    color:black
}
/* fivedaybroadcast content attributes*/
#fivedaybroadcast {
    font-size:15px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-align: center;
    margin-left: 320px;
  
}
/*current forecast attributes*/
#forecast{
    margin-top: 200px;
}
/* fivedaybroadcast content div attributes*/
#fivedaybroadcast, div{
    margin-right: 150px;

}
/* Main-Section attributes */
#main-section {
    font-size:15px;

}
/* input text attribute*/
#finder {
position:absolute; top: 150px
}
/* current weather articles attributes */
#current-weather {
    margin-left: 400px;
    margin: top 100px;
  
    position: relative;
}
/* current-weather img attributes */
#current-weather img{
   position: absolute;
   top:40px;
   left: 195px;
   margin-top: 10px;
   width: 100px;


}
/* button attributes */
button {
display: block;
}


/* forescastitle h1 attributes */
#forecastitle {
    display: none;
}


/* refresh alert attribute  */
#refreshalert {
    color: blue;
font-size: 15px;
margin-left: 5px;


}
/*Footer attributes*/
footer {
    position: absolute; bottom: 1px;
   margin-left: 690px;
   color: white;
}